.margin-all-5 {
	margin: .5em;
}

.all-reviews {
	border: solid 1px #DDD;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #888888;
	padding: 5px;
}

/* helps highlight valid vs. invalid fields */
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.hidden {
	display: none;
}
.list-group-item {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	min-height: 385px;
	margin: 5px;
	border-radius: 5px;
}

/***** Start blockquote styling from http://jsfiddle.net/_jro/RXa65/ ******/

.bq1 { 
	padding-left: 16px; 
	border-left: 5px solid #577da4; 
	background-color: #eee;
}
.bq1 p { 
	font-style: italic; 
	font-size: 14px; 
	line-height: 18px; 
	color: #8c8785; 
}
p.after { 
	font-weight: bold;

}
p.after a { 
	color: #6793d4; 
	text-decoration: none;
	word-wrap: break-word;
}
p.after a:hover { 
	text-decoration: underline; 
}

/***** End blockquote styling from http://jsfiddle.net/_jro/RXa65/ ******/

/***** Start rating styling, inspired by yelp *****/
div.rating {
	overflow: hidden;
	position: relative;
	width: 126px;
	height: 22px;
	background-image: url('http://s3-media3.fl.yelpcdn.com/assets/2/www/img/c2252a4cd43e/ico/stars/v2/stars_map.png');
}
.rating5 {
	background-position: -3px -739px;
}
.rating4{
	background-position: -3px -689px;
}
.rating3 {
	background-position: -3px -639px;
}
.rating2 {
	background-position: -3px -589px;
}
.rating1 {
	background-position: -3px -539px;
}
/***** End rating styling, inspired by yelp *****/

/***** New Beer (including uploader) Styles *****/
.thumbnail {
	max-height: 200px;
	max-width: 200px;
	margin: auto;
	margin-bottom: 10px;
}
.subtitle {
	font-size: 80%;
}
.no-bullet {
	list-style-type: none;
}
.no-bullet-item {
	float: left;
}
.sub-item {
	width: 48%;
}
.main-item {
	width: 98%;
}
.onlyNewBeerForm {
	width: 62%;
	float: left;
}
.newBeerFormAndPreview {
	width: 30%;
	float: left;
	margin: 0 5px;
}
.my-drop-zone { 
	border: dotted 3px lightgray; 
}
/* Default class applied to drop zones on over */
.nv-file-over { 
	border: dotted 3px red; 
} 
.another-file-over-class { 
	border: dotted 3px green; 
}
html, body { 
	height: 100%; 
}