.margin-all-5 {
	margin: .5em;
}

.all-reviews {
	border: solid 1px #DDD;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #888888;
	padding: 5px;
}

/* helps highlight valid vs. invalid fields */
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.hidden {
	display: none;
}
.list-group-item {
	display: inline-block;
	vertical-align: top;
	min-height: 385px;
	margin: 5px;
	border-radius: 5px;
}

/***** Blockquote styling from http://jsfiddle.net/_jro/RXa65/ ******/

.bq1 { 
	padding-left: 16px; 
	border-left: 5px solid #577da4; 
	background-color: #eee;
}
.bq1 p { 
	font-style: italic; 
	font-size: 14px; 
	line-height: 18px; 
	color: #8c8785; 
}
p.after { 
	font-weight: bold;

}
p.after a { 
	color: #6793d4; 
	text-decoration: none;
	word-wrap: break-word;
}
p.after a:hover { 
	text-decoration: underline; 
}

/***** Rating styling, inspired by yelp *****/
div.rating {
	overflow: hidden;
	position: relative;
	width: 126px;
	height: 22px;
	background-image: url('http://s3-media3.fl.yelpcdn.com/assets/2/www/img/c2252a4cd43e/ico/stars/v2/stars_map.png');
}
.rating5 {
	background-position: -3px -739px;
}
.rating4{
	background-position: -3px -689px;
}
.rating3 {
	background-position: -3px -639px;
}
.rating2 {
	background-position: -3px -589px;
}
.rating1 {
	background-position: -3px -539px;
}
.rating0 {
	background-position: -3px -514px;
}
.averageRating {
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 10px;
}
.averageNumber {
	font-size: 110%;
	display: inline-block;
	vertical-align: top;
}

/***** New Beer Form Styles *****/
.thumbnail {
	max-height: 200px;
	max-width: 200px;
	margin: auto;
	margin-bottom: 10px;
}
.subtitle {
	font-size: 80%;
}
.no-bullet {
	list-style-type: none;
}
.no-bullet-item {
	margin-top: 15px;
}
.custom-file-input {
	width: 100%;
	text-align: left;
}
.submitButton {
	/*margin-top: 15px;*/
	width: 100%;
}
.centered {
	text-align: center;
}
p {
	word-wrap: break-word;
}

/***** Glyphicon styling *****/
.inner-addon { 
    position: relative; 
}
.submit-icon {
	padding-top: 10px !important;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  z-index: 1;
}
.left-addon .glyphicon  { 
	left:  0px;
}
.right-addon .glyphicon { 
	right: 0px;
}
.left-addon input , .left-addon textarea { 
	padding-left:  30px; 
}
.right-addon input, .right-addon textarea { 
	padding-right: 30px; 
}

/***** Masonry/Fluid look *****/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.masonry {
  max-width: 100%;
}

/* clearfix */
.masonry:after {
  content: '';
  display: inline-block;
  clear: both;
}

.masonry .item {
  width:  30%;
  float: left;
}

#form-list-item {
	position: relative !important;
}
/* yes the numbers aren't EXACTLY the same as what the name is
	but the title is better than sixtyPointSixPercent. */
.item.sixtyPercent {
	width: 60.6%;
}
.fiftyPercent {
	float: left;
	width: 48%;
	margin: 0 5px;
}