<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- makes reference to app.js so it calls the app variable -->
<html ng-app="store">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Angular Application with Bootstrap</title>
<!-- local store of bootstrap -->
<link rel="stylesheet" type="text/css" href="/angular/bootstrap/css/bootstrap.min.css" />
</head>
<body ng-controller="StoreController as store">
<h1>Using Angular will be great, I promise!</h1>
<p>{{"Hello, " + "I can tell you like beer."}}</p>

<!-- 
refers to the StoreController in app.js 
the "as store" defines store as an alias to the StoreController
-->
<ul class="list-group">
	<li class="list-group-item" ng-repeat="product in store.products | orderBy:'price'">
		<h3> {{product.name}} 
			<em class="pull-right">{{product.price | currency}}</em>
			<img ng-src="/angular/img/{{product.images[0].thumb}}" />
		</h3>
		<section>
			<ul class="nav nav-pills">
				<li> <a href ng-click="tab = 1">Description</a></li>
				<li> <a href ng-click="tab = 1">ABV</a></li>
				<li> <a href ng-click="tab = 1">Reviews</a></li>
			</ul>
		</section>
		<div class="panel">
			<h4>Description</h4>
			<p> {{product.description}} </p>
		</div>
		<div class="panel">
			<h4>Alcohol by Volume (ABV)</h4>
			<p> {{product.abv | percentage:2}} </p>
		</div>
		<div class="panel">
			<h4>Reviews</h4>
			<blockquote>None yet</blockquote>
		</div>
		<button ng-hide="product.canPurchase">Don't Show me!</button>
		<button class="btn default btn-primary" ng-show="product.canPurchase">Show me!</button>
	</li>
</ul>

<!-- local store of angular -->
<script type="text/javascript" src="/angular/angular/angular.min.js"></script>
<!-- where we define dependencies and such related to application -->
<script type="text/javascript" src="app.js"></script>
</body>
</html>
