.margin-all-5 {
	margin: .5em;
}

.all-reviews {
	border: solid 1px #DDD;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #888888;
	padding: 5px;
}

/* helps highlight valid vs. invalid fields */
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.hidden {
	display: none;
}

.list-group-item {
	width: 30%;
	float: left;
	margin-left: 10px;
	border-radius: 5px;
}
cite {
	word-wrap: break-word;
}