<!-- hides form for new form preview -->
<div class="hideable" ng-hide="!product.name">
	<h4>Reviews</h4>
	<div class="averageRating rating{{averageReview[0]}} ratingDefault"></div><span class="averageNumber"> {{averageReview[1]}} reviews</span>
	<!-- repeat through all the reviews -->
	<div ng-init="callParseData(product.name)">
		<blockquote class="bq1" id="{{product.name}}" ng-repeat="review in parseData | orderBy:'createdAt'">
			<div class="reviewStars rating{{review.stars}} ratingDefault"><br />
			</div>
			<p class="reviewComment">{{review.comment}}</p>
			<p class="after"><a class="reviewAuthor">{{review.author}}</a></p>
			<p>on <span class="reviewDate">{{review.createdAt | date}}</span></p>
		</blockquote>
	</div>
	<!-- 
	the product that gets passed into the ng-submit function is defined in the ng-repeat in the first li
	we're also making sure form is valid before submittion with the reviewForm.$valid
	before calling the addReview() function
	-->
	<form name="reviewForm" ng-submit="reviewForm.$valid && addReview(product)" novalidate>
		<blockquote class="bq1" id="{{product.name}}" ng-hide="reviewForm.$pristine">
			<!-- here's some two-way data binding -->
			<strong>Your Review!</strong> <br />
			<div class="reviewStars rating{{review.stars}} ratingDefault"><br />
			</div>
			<p class="reviewComment">{{review.comment}}</p>
			<p class="after"><a class="reviewAuthor">{{review.author}}</a></p>
		</blockquote>
		<div id="inputs" class="all-reviews">
			<h1><small>Tell us what you think!</small></h1>
			<!-- 
			the ng-model helps tie in that two-way binding
			required needed for fields to be validated
			validation based off of input type
			-->
			<!--div class="form-group">
				<select class="form-control" ng-options="stars for stars in [5,4,3,2,1]" 
						ng-change="fixLayout()" title="Stars" ng-model="review.stars" required>
					<option value="">Rate the Product</option>
				</select>
			</div-->
			<div class="dropdown btn-group form-group oneHundredPercent">
				<a class="dropdown-toggle btn btn-default oneHundredPercent textLeft" data-toggle="dropdown" href="#">
					<span class="glyphicon glyphicon-sort five-left-right"></span>
					Rate the Beer
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">5</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">1</a></li>
				</ul>
			</div>
			<div class="form-group inner-addon left-addon">
				<!--label for="comment">Review: </label-->
				<i class="glyphicon glyphicon-comment"></i>
				<textarea class="form-control" id="comment" ng-model="review.comment" ng-change="fixLayout()" name="comment" placeholder="Best thing I've ever tasted!" required></textarea>
			</div>
			<div class="form-group inner-addon left-addon">
				<i class="glyphicon glyphicon-envelope"></i>
				<input class="form-control" id="author" name="author" type="email" ng-model="review.author" ng-change="fixLayout()" placeholder="my.email@provider.com" required />
			</div>
			<input type="hidden" class="beerName" name="beerName" value={{product.name}} id="beerName" ng-model="review.beerName" />
			<div class="form-group inner-addon left-addon">
				<i class="glyphicon submit-icon" ng-class="{'glyphicon-floppy-save' : reviewForm.$valid, 'glyphicon-floppy-remove' : !reviewForm.$valid}"></i>
				<input class="btn custom-file-input" ng-class="{ 'btn-default' : !reviewForm.$valid, 'btn-primary' : reviewForm.$valid }"type="submit" value="Submit"/>
			</div>
		</div>
	</form>
</div>