<!-- hides form for new form preview -->
<div class="hideable" ng-hide="!product.name">
	<h4>Reviews</h4>
	<!-- repeat through all the reviews -->
	<div ng-init="callParseData(product.name)">
	<blockquote class="bq1" id="{{product.name}}" ng-repeat="review in parseData | orderBy:'createdAt'">
		<div class="reviewStars rating{{review.stars}} rating"><br />
		</div>
		<p class="reviewComment">{{review.comment}}</p>
		<p class="after"><a class="reviewAuthor">{{review.author}}</a></p>
		<p>on <span class="reviewDate">{{review.createdAt | date}}</span></p>
	</blockquote>
	</div>
	<!-- 
	the product that gets passed into the ng-submit function is defined in the ng-repeat in the first li
	we're also making sure form is valid before submittion with the reviewForm.$valid
	before calling the addReview() function
	-->
	<form name="reviewForm" ng-submit="reviewForm.$valid && addReview(product)" novalidate>
		<blockquote class="bq1" id="{{product.name}}" ng-hide="reviewForm.$pristine">
			<!-- here's some two-way data binding -->
			<strong>Your Review!</strong> <br />
			<div class="reviewStars rating{{review.stars}} rating"><br />
			</div>
			<p class="reviewComment">{{review.comment}}</p>
			<p class="after"><a class="reviewAuthor">{{review.author}}</a></p>
		</blockquote>
		<div id="inputs" class="all-reviews">
			<h1><small>Tell us what you think!</small></h1>
			<!-- 
			the ng-model helps tie in that two-way binding
			required needed for fields to be validated
			validation based off of input type
			-->
			<select class="form-control" ng-options="stars for stars in [5,4,3,2,1]" 
					title="Stars" ng-model="review.stars" required>
				<option value="">Rate the Product</option>
			</select>
			<div class="form-group">
				<label for="comment">Review: </label>
				<textarea class="form-control" id="comment" ng-model="review.comment" name="comment" required></textarea>
			</div>
			<div class="form-group">
				<label for="author">By: </label>
				<input class="form-control" id="author" name="author" type="email" ng-model="review.author" required />
			</div>
			<div id="formValidationMsg">review is {{reviewForm.$valid}}</div>
			<input type="hidden" class="beerName" name="beerName" value={{product.name}} id="beerName" ng-model="review.beerName" />
			<input class="btn btn-default" type="submit" value="Submit"/>
		</div>
	</form>
</div>