<!--input type="file" ng-file-select="onFileSelect($files)" onchange="angular.element(this).scope().setFiles(this)"-->
<div class="form-group inner-addon left-addon">
	<i class="glyphicon glyphicon-font"></i>
	<input class="form-control" type="text" ng-change="checkFieldStatus(beer)" ng-model="beer.name" name="name" placeholder="Name" required />
</div>
<div class="form-group inner-addon left-addon">
	<i class="glyphicon glyphicon-usd"></i>
	<input class="form-control" type="number" ng-change="checkFieldStatus(beer)" name="price" ng-model="beer.price" placeholder="Price" required />
</div>
<div class="form-group inner-addon left-addon">
	<i class="glyphicon glyphicon-glass"></i>
	<input class="form-control" type="number" ng-change="checkFieldStatus(beer)" ng-model="beer.abv" name="abv" placeholder="Alcohol by Volume (10% = .10)" required />
</div>
<div class="form-group inner-addon left-addon">
	<i class="glyphicon glyphicon-comment"></i>
	<textarea class="form-control" ng-change="checkFieldStatus(beer)" ng-model="beer.description" name="description" placeholder="Tastes like a warm summer breeze" required ></textarea>
</div>
<div class="form-group inner-addon left-addon">
	<i class="glyphicon glyphicon-cloud-upload"></i>
	<input class="custom-file-input btn btn-default inner-addon left-addon" ng-model="beer.picture" type="file" name="picture" ng-file-select="onFileSelect($files)" accept="image/*" onchange="angular.element(this).scope().checkFieldStatus(this)">
</div>
<!--input class="custom-file-input" type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*"-->
<!-- Commenting out this part because it doesn't feel necessary, but might want to use code like this later.
<ul class="no-bullet">
	<li class="no-bullet-item" ng-repeat="file in files" >
		<img class="img-rounded margin-all-5 thumbnail" ng-src="{{file.imageSrc}}" />
		<span class="subtitle">{{file.name}} - {{file.size/1024/1024 | number:2}} MB</span>	
	</li>
</ul>
-->
<div class="form-group inner-addon left-addon">
	<i class="glyphicon submit-icon" ng-class="{'glyphicon-floppy-save' : newBeerForm.$valid && pictureStatus, 'glyphicon-floppy-remove' : (!newBeerForm.$valid  || !pictureStatus)}"></i>
	<input class="btn submitButton" ng-class="{ 'btn-primary' : newBeerForm.$valid && pictureStatus, 'btn-default' : (!newBeerForm.$valid  || !pictureStatus)}" type="submit" value="Save Beer"/>
</div>